@model Xxplore.Models.UserProfile

@{
    ViewData["Title"] = "WishList";
}

<center><h2> @Html.DisplayFor(model => model.FirstName)'s Wish List</h2></center>

<div class="wishList">
    <center>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                #1: @Html.DisplayFor(model => model.WishList1Name) <a asp-action="Chat" asp-route-id="@Model.WishList1Name">Connect to an expert from this country</a>
            </dt>
            <dt>
                #2: @Html.DisplayFor(model => model.WishList2Name) <a asp-action="Chat" asp-route-id="@Model.WishList2Name">Connect to an expert from this country</a>
            </dt>
            <dt>
                #3: @Html.DisplayFor(model => model.WishList3Name) <a asp-action="Chat" asp-route-id="@Model.WishList3Name">Connect to an expert from this country</a>
            </dt>
            <br />

            <dt>
                <a asp-action="ChatWithOthers">Connect with people who want to chat with me</a> <br />

            </dt>


        </dl>
</div></center>
<div>
    <center>If you are redirected to this page, there are currently no users available to connect with</center> <br />
    <center>
        <!--<a asp-action="Edit" asp-route-id="@*Model.Id*@">Edit</a> |-->
        <a asp-action="Index">Back to List</a>
</div></center>
