@model Xxplore.Models.CountryVisited

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CountryVisited</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HighlightOfTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HighlightOfTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatingOfTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingOfTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartOfTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartOfTrip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndOfTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndOfTrip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
