@model Xxplore.ViewModels.CountryVisitedAndCountry

@{
    ViewData["Title"] = "Trip Log";
}

<center><h2>Where I've Been</h2></center>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().HighlightOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().RatingOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().StartOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().EndOfTrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CountryVisited item in Model.CountryVisitedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighlightOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfTrip)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="ViewPicture" asp-route-id="@item.Id">Pictures</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--<partial name="_DreamsToChase.cshtml" />-->

@await Html.PartialAsync("_DreamsToChase", Model.CountryList)

<p>
    <center>
        <font-size: 25px;>
            <a asp-action="WishList">WishList</a> <a asp-action="Create">Log New Adventure</a><br /> <a asp-action="Scoreboard">See my top trips</a><br />
        </font-size:>
</p></center>

