@model Xxplore.ViewModels.CountryVisitedAndCountry

@{
    ViewData["Title"] = "Trip Log";
}

<center><h2>Countries Visited</h2></center>
<center><a asp-action="InteractiveMap">Interactive Map</a></center>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Country
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().HighlightOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryVisitedList.First().Comments)
            </th>
            <th>
                Trip Rating
            </th>
            <th>
                Photo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CountryVisited item in Model.CountryVisitedList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighlightOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.Raw(item.StarsOfTrip)
                </td>
                <td>
                    <img src="@item.PhotoOfTrip" class="tripPhoto">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
                    <!--<a asp-action="ViewPicture" asp-route-id="@item.Id">Pictures</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <font-size: 25px;>
        <center><a asp-action="Create">Log New Adventure</a><br/><a asp-action="WishList">WishList</a><br /><a asp-action="Scoreboard">See my top trips</a></center>  
    </font-size:>
</p>
<!--<partial name="_DreamsToChase.cshtml" />-->

@await Html.PartialAsync("_DreamsToChase", Model.CountryList)


