@model IEnumerable<Xxplore.Models.CountryVisited>

@{
    ViewData["Title"] = "Trip Log";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighlightOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfTrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighlightOfTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingOfTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOfTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfTrip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
