@model IEnumerable<Xxplore.Models.CountryVisited>

@{
    ViewData["Title"] = "Trip Log";
}


<p>
    <center>
        <font-size: 25px;>
        <a asp-action="WishList" >WishList</a><br /><a asp-action="DreamsToChase">Countries Not Visited</a>
        </font-size:>
</p></center>
<center><h2>Where I've Been</h2></center>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighlightOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfTrip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighlightOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RatingOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfTrip)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <center><a asp-action="Create">Create New</a></center>
</p>

<!--<<partial name="_DreamsToChase.cshtml" />-->
