@model Xxplore.Models.UserProfile

@{
    ViewData["Title"] = "WishList";
}

<center><h2> @Html.DisplayFor(model => model.FirstName)'s Wish List</h2></center>

<div class="wishList">
    <center>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                #1: @Html.DisplayFor(model => model.WishList1Name) @Html.ActionLink("Talk to expert", "Chat", "CountryVisiteds", new { id = Model.WishList1 }, null)
            </dt>
            <dt>
                #2: @Html.DisplayFor(model => model.WishList2Name) @Html.ActionLink("Talk to expert", "Chat", "CountryVisiteds", new { id = Model.WishList2 }, null)
            </dt>
            <dt>
                #3: @Html.DisplayFor(model => model.WishList3Name) @Html.ActionLink("Talk to expert", "Chat", "CountryVisiteds", new { id = Model.WishList3 }, null)
            </dt><br/>
            
                 <dt>
                     @Html.ActionLink("Connect with people who want to chat with me", "Chat", "CountryVisiteds", new { id = Model.HomeCountryId }, null)

                 </dt>
           

        </dl>
</div></center>
<div>
    <center>If you are redirected to this page, there are currently no users available to connect with</center> <br/>
    <center>
        <!--<a asp-action="Edit" asp-route-id="@*Model.Id*@">Edit</a> |-->
        <a asp-action="Index">Back to List</a>
</div></center>
