@model Xxplore.Models.UserProfile

@{
    ViewData["Title"] = "WishList";
}

<h2>Your Wish List</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WishList1Name) @Html.DisplayFor(model => model.WishList1Name)<a asp-action="Connect"> Connect</a>
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.WishList2Name) @Html.DisplayFor(model => model.WishList2Name) <a asp-action="Connect"> Connect</a>
        </dt>
        <dt> 
            @Html.DisplayNameFor(model => model.WishList3Name) @Html.DisplayFor(model => model.WishList3Name) <a asp-action="Connect"> Connect</a>
        </dt>

    </dl>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@*Model.Id*@">Edit</a> |-->
    <a asp-action="Index">Back to List</a>
</div>
